{% extends "user_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Enter Information
{% endblock %}

{% block body %}
	<ul class="nav" id="side-menu">
	    <li class="sidebar-search">
	        <div class="input-group custom-search-form">
	            <input type="text" class="form-control" placeholder="Search...">
	            <span class="input-group-btn">
	            <button class="btn btn-default" type="button">
	                <i class="fa fa-search"></i>
	            </button>
	        </span>
	        </div>
	        <!-- /input-group -->
	    </li>
	    <li>
	        <a href="{{ url_for('user', firstname=fname, lastname=lname, age=age_of_person, diseases_names=diseases) }}"><i class="fa fa-home fa-fw"></i>Home</a>
	    </li>
	    <li>
	        <a href="{{ url_for('info', firstname=fname, lastname=lname, age=age_of_person, diseases_names=diseases) }}"><i class="fa fa-users fa-fw"></i>See Matches</a>
	    </li>
	    <li>
	        <a href="{{ url_for('edit', firstname=fname, lastname=lname, age=age_of_person, diseases_names=diseases) }}"><i class="fa fa-edit fa-fw"></i>Edit</a>
	        <!-- /.nav-second-level -->
	    </li>
	    
	    <li>
	        <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements</a>
	        <!-- /.nav-second-level -->
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown</a>
	        <!-- /.nav-second-level -->
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages</a>
	        <!-- /.nav-second-level -->
	    </li>
	</ul>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
		 <img src="{{ url_for('static', filename='images/trusiipic.PNG') }}" class="img-responsive center">
		</div>
	</div>
	<h2> Edit Your Information </h2>
		

	<form class="form-signin" action="" method="post">
		{{ edit_form.hidden_tag() }}
		{{ wtf.form_field(edit_form.name) }}
		{{ wtf.form_field(edit_form.email) }}
		{{ wtf.form_field(edit_form.age) }}
		{{ wtf.form_field(edit_form.city) }}
		{{ wtf.form_field(edit_form.state) }}
		{{ wtf.form_field(edit_form.zip_code) }}
		{{ wtf.form_field(edit_form.phone_number) }}
		<h2> Check all that apply to you </h2>
		{% if diseases %}
			{% for disease in diseases %}
				<input type="checkbox" name="disease_name" value="{{ disease }}"> {{ disease }}
			{% endfor %}
		{% endif %}
		<br><br><br>
		{{ edit_form.submit }}
	</form>
{% endblock %}