{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<body style="background-color: black;">
	<div class="container-fluid">
		<div class="row">
		 <div class="span4"><a href="/"><img class="center-block" src="{{ url_for('static', filename='images/trusiipic.PNG') }}" /></a></div>
		</div>
	</div><br>
	<form action="" method="post">
		<button type="button" class="btn btn-default btn-block center-block" onclick="location.href = '/signup'">Sign up</button><br>
		<button type="button" class="btn btn-primary btn-block center-block" onclick="location.href = '/login'">Login</button>
	</form>
</body>
{% endblock %}