{% extends "base.html" %}

{% block title %}
Information About You
{% endblock %}

{% block content %}
	<h2> Welcome {{ firstname }} {{ lastname }} </h2>
	<h2> Here are some results we have found </h2>
	{% if qR %}
		{% for key, value in qR.items() %}
		<!-- {% set samples = value %} -->
			<h3> For the disease {{ key }}, here are some people with the same symptoms </h3>
			<ul>
				{% for sample in value %}
					{% if sample['name'] != (firstname + " " + lastname) %} 
						<li><a href="{{ url_for('personalInfo', samplePerson = sample['name'], sampleAge = sample['age'], sampleCity = sample['city'], sampleState = sample['state']) }}"> {{ sample['name'] }} </a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	{% endif %}
{% endblock %}