{% extends "base.html" %}
{% from "form_macros.html" import render_field %}
{% block title %}
Enter Information
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
		 <img src="{{ url_for('static', filename='images/trusiipic.PNG') }}" class="img-responsive center">
		</div>
	</div>
	<h2> Your Information </h2>
	<form action="" method="post">
		{{ applicant_form.hidden_tag() }}
		{{ render_field(applicant_form.fname) }}
		{{ render_field(applicant_form.lname) }}
		{{ render_field(applicant_form.email) }}
		{{ render_field(applicant_form.age) }}
		{{ render_field(applicant_form.city) }}
		{{ render_field(applicant_form.state) }}
		{{ render_field(applicant_form.zip_code) }}
		{{ render_field(applicant_form.phone_number) }}
		{{ render_field(applicant_form.password) }}
		<h2> Check all that apply to you </h2>
		{% if diseases %}
			{% for disease in diseases %}
				<input type="checkbox" name="disease_name" value="{{ disease }}"> {{ disease }}
			{% endfor %}
		{% endif %}
		<br><br><br>
		{{ applicant_form.submit }}
	</form>
{% endblock %}