{% extends "base.html" %}

{% block title %}
Enter Information
{% endblock %}

{% block content %}
<body style="background-color: black;">
	<div class="container-fluid">
		<div class="row">
		 <img src="{{ url_for('static', filename='images/trusiipic.PNG') }}" class="img-responsive center">
		</div>
	</div>
	<h2> Your Information </h2>
	<form action="" method="post">
		First name:<br>
		<input type="text" name="firstname"><br>
		Last name:<br>
		<input type="text" name="lastname"><br>
		Age:<br>
		<input type="number" name="age"><br>
		Phone Number:<br>
		<input type="text" name="phonenumber"><br>
		Email:<br>
		<input type="text" name="email"><br>
		City:<br>
		<input type="text" name="city"><br>
		State:<br>
		<input type="text" name="state"><br>
		Zip:<br>
		<input type="text" name="zip"><br>
		Password:<br>
		<input type="password" name="password"><br><br>
		{% if diseases %}
			{% for disease in diseases %}
				<input type="checkbox" name="disease_name" value="{{ disease }}"> {{ disease }}
			{% endfor %}
		{% endif %}
		<br><br>
		
		<input type="submit" value="Submit">
		<input type="reset">
	</form>
</body>
{% endblock %}