{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Enter Information
{% endblock %}

{% block content %}
<body style="background-color: black;">
	<div class="container-fluid">
		<div class="row"><a href="/">
		 <img src="{{ url_for('static', filename='images/trusiipic.PNG') }}" class="img-responsive center center-block"></a>
		</div>
	</div>
	<h2><font color="white"> Your Information </font></h2>
	<form class="form-signin" action="" method="post">
		<font color="white">
		{{ applicant_form.hidden_tag() }}
		{{ wtf.form_field(applicant_form.fname) }}
		{{ wtf.form_field(applicant_form.lname) }}
		{{ wtf.form_field(applicant_form.email) }}
		{{ wtf.form_field(applicant_form.age) }}
		{{ wtf.form_field(applicant_form.city) }}
		{{ wtf.form_field(applicant_form.state) }}
		{{ wtf.form_field(applicant_form.zip_code) }}
		{{ wtf.form_field(applicant_form.phone_number) }}
		{{ wtf.form_field(applicant_form.password) }}
		<h2> Check all that apply to you </h2>
		{% if diseases %}
			{% for disease in diseases %}
				<input type="checkbox" name="disease_name" value="{{ disease }}"> {{ disease }}
			{% endfor %}
		{% endif %}
		</font><br><br><br>
		{{ applicant_form.submit }}
	</form>
</body>
{% endblock %}