{% extends "user_base.html" %}

{% block title %}
User Logged In
{% endblock %}

{% block body %}
	<ul class="nav" id="side-menu">
	    <li class="sidebar-search">
	        <div class="input-group custom-search-form">
	            <input type="text" class="form-control" placeholder="Search...">
	            <span class="input-group-btn">
	            <button class="btn btn-default" type="button">
	                <i class="fa fa-search"></i>
	            </button>
	        </span>
	        </div>
	        <!-- /input-group -->
	    </li>
	    <li>
	        <a href="{{ url_for('user', firstname=fname, lastname=lname, age=age_of_person, diseases_names=diseases) }}"><i class="fa fa-table fa-fw"></i>Home</a>
	    </li>
	    <li>
	        <a href="{{ url_for('info', firstname=fname, lastname=lname, age=age_of_person, diseases_names=diseases) }}"><i class="fa fa-dashboard fa-fw"></i>See Matches</a>
	    </li>
	    <li>
	        <a href="{{ url_for('edit', firstname=fname, lastname=lname, age=age_of_person, diseases_names=diseases) }}"><i class="fa fa-bar-chart-o fa-fw"></i>Edit</a>
	        <!-- /.nav-second-level -->
	    </li>
	    
	    <li>
	        <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements</a>
	        <!-- /.nav-second-level -->
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown</a>
	        <!-- /.nav-second-level -->
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages</a>
	        <!-- /.nav-second-level -->
	    </li>
	</ul>
{% endblock %}
{% block content %}
	<h1> Welcome, {{ fname }} {{ lname }} </h1>
	{% if message %}
		<h2 style="color: green;"> {{ message }} </h2>
	{% endif %}

{% endblock %}